@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Xin chào sáng thứ 6</h1>
    <img src="https://i.pinimg.com/236x/e4/b3/05/e4b3052999393732b1b0eabb259871f7.jpg" alt="Hello cat" />
</div>
